table {
  width: 100%;
  thead {
    font-weight: 500;
    th {
      text-align: left;
    }
  }
  tbody{
    tr:nth-of-type(odd) {
      background-color: rgba($blue, 0.1);
    }
    td {
      padding: 5px;
    }
  }

}
